doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name='csrf-token' content=`${csrfToken}`)
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css')
		link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3' crossorigin='anonymous')
		link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css')
		title 🚨 PS2Alert.me
	body.bg-dark
		#cookiemodal.modal.fade(tabindex='-1' aria-labelledby='cookieModalLabel' aria-hidden='true')
			.modal-dialog
				.modal-content
					.modal-header
						h5.modal-title <i class='bi bi-exclamation-triangle'></i> Cookie Notice
						button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
					.modal-body
						p
							| This website uses a cookie to protect against
							| <a href='https://cheatsheetseries.owasp.org/cheatsheets/Cross-Site_Request_Forgery_Prevention_Cheat_Sheet.html'> Cross Site Request Forgery.</a>
							| By using this website, you consent to the use of this cookie.
		// Main content
		.d-flex.flex-column.min-vh-100.justify-content-center.align-items-center.text-light.animate__animated.animate__fadeIn
			h1.display-5.pb-3.mb-4.border-bottom.fw-bold 🚨PS2Alert.me
			.card.bg-secondary
				.card-header.text-center <i class="bi bi-check2-square"></i> Server Selection
				.container.pt-2
					.row
						.col
							.form-check
								input#connery.form-check-input(type='checkbox' value='1')
								label.form-check-label(for='connery') Connery
						.col
							.form-check
								input#miller.form-check-input(type='checkbox' value='10')
								label.form-check-label(for='miller') Miller
						.col
							.form-check
								input#cobalt.form-check-input(type='checkbox' value='13')
								label.form-check-label(for='cobalt') Cobalt
						.col
							.form-check
								input#emerald.form-check-input(type='checkbox' value='17')
								label.form-check-label(for='emerald') Emerald
						.col
							.form-check
								input#soltech.form-check-input(type='checkbox' value='40')
								label.form-check-label(for='soltech') SolTech
					.row.py-2.text-center
						.col
							button#subscribe.btn.btn-primary.mt-auto(type='button') Subscribe 🔔
							| &nbsp;
							button#unsubscribe.btn.btn-warning.mt-auto(type='button') Unsubscribe 🔕
			.card.bg-secondary.mt-4
				.card-header.text-center <i class="bi bi-bell"></i> Subscription Status
				.card-body
					p#subscribed.card-text Subscribed to push notifications.
					p#unsubscribed.card-text Not subscribed to push notifications.
		nav.navbar.fixed-bottom.justify-content-center
			span.navbar-text.text-muted.text-center
				a.text-muted(href='https://github.com/dbrennand/PS2Alert.me') <i class="bi bi-github"></i>
				|  | © dbrennand & contributors, 2022. PlanetSide 2® is a registered trademark of
				| <a href='https://www.daybreakgames.com/home' class='text-muted text-decoration-none'>Daybreak Game Company LLC.</a>
		// Bootstrap JavaScript
		script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
		// JavaScript
		script(src='index.js')
